spring:
  application:
    name: securedclient
server:
  port: 9090
eureka:
  client:
    serviceUrl.defaultZone:${EUREKA_URI:http://localhost:8761/eureka}
    instance.preferIpAddress:true
security:
  oauth2:
    resource:
      userInfoUri: http://localhost:8880/auth/user
    client:
      client-id: flametoken
      client-secret: thisissecret
